@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  .w-md-editor-toolbar{
    & svg {
      width: 1.3rem;
      height: 1.3rem;
    }
  }




  .wmde-markdown ol {
    list-style: null !important;
  }

  .wmde-markdown ul {
    list-style: unset !important;
  }


  .JpSearchHighlight{
    border: #38BDF8 solid 2px;
  }

  .JpInputFocusClass:focus{
    border: 2px solid #38BDF8;  /* 设置边框为2像素的实线，颜色为蓝色 */
  }


  #JpRoot {
    overflow: auto; /* 启用滚动 */
    -ms-overflow-style: none;  /* IE和Edge */
    scrollbar-width: none;  /* Firefox */
  }

  #JpRoot::-webkit-scrollbar {
    display: none;  /* Chrome, Safari 和 Opera */
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
